body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  border: 1px solid black;
  width: 400px;
  border-radius: 12px;
  padding: 20px 30px 20px 25px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.125rem;
}

.form input {
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.btn {
  grid-column: 1/-1;
  font-size: 1.125rem;
  padding: 5px;
  cursor: pointer;
}

.form input.error {
  border: 2px solid red;
}

.form input.ok {
  border: 2px solid green;
}

.error-message {
  font-size: 0.875rem;
}